# Genomics 준비

Google에 phytozome 이라고 검색하고 제일 처음 뜨는 사이트에 들어간다.
>https://phytozome.jgi.doe.gov/pz/portal.html

처음 사용한다면, 가입이 필요하므로 Log In에 들어가서 아래쪽 resister로 가입을 해준다.
> Funding Sources : NA , Primary Funding Source : Other - (Specify) , Primary Funding Source comment : study , Institution Name : PMBBRC , Institution Street Address : Jinju-daero , Postal Code : 52828 이런식으로 채워주었다.

Email을 보냈다는 창이 뜨면 입력했던 email에 들어가 JGI에서 보낸 email을 읽고, password를 설정한다.

로그인을 했다면, 제일 처음 보았던 페이지의 상단에서 Species를 클릭, Arabidopsis thaliana Araport11에 들어간다.
> https://phytozome.jgi.doe.gov/pz/portal.html#!info?alias=Org_Athaliana_er

Info 창이 뜨는데, 초록색 부분들 중 Bulk data에 들어간다.

그럼 자료들을 사용할 때 이 논문들을 인용해달라는 창이 뜨게 되는데, OK, proceed to data를 누르고 넘어간다.

Download를 할 수 있는 창이 뜨며 여러 파일이 나타는데, 이 중 araport11 폴더를 연다.

그럼 annotation과 assembly 파일이 뜬다.

우선, annotation 파일을 열어본다. 여러 파일들이 뜨는데, 이 중  'Athaliana: Athaliana_447_Araport11.gene.gff3.gz' , 'Athaliana: Athaliana_447_Araport11.gene_exons.gff3.gz' 두 가지 파일을 선택한다.
        
그리고 assembly 파일도 열어 하나 있는 Athaliana: Athaliana_447_TAIR10.fa.gz 파일도 선택한다.
    
다운받을 것을 다 선택했다면 상단의 Download Selected Files를 클릭하여 다운받아준다.

![cds_preparation](./photo/cds_preparation.PNG)

컴퓨터에 설치해뒀던 bash를 실행시켜준다.

> /c/Users/ATIV# cd..
>
> /c/Users# cd..

C드라이브에 만들어두었던 ubuntu_download 폴더로 들어간다.

> /c# cd ubuntu_download

다운받았던 파일들을 ubuntu bash에서 사용할 수 있도록 ubuntu_download폴더로 옮겨준다.

압축되어 있는 파일(Athaliana_download)을 bash창에서 압축해제 해준다.

>/c/ubuntu_download# unzip Athaliana_download

압축해제가 끝나면 풀어진 폴더로 들어간다.

>/c/ubuntu_download# cd Athaliana

폴더내의 파일들도 하나하나 압축해제 해준다.

-Assembly

>/c/ubuntu_download/Athaliana# cd Araport11
>
>/c/ubuntu_download/Athaliana/Araport11# cd assembly
>
>/c/ubuntu_download/Athaliana/Araport11/assembly# gzip -d Athaliana_447_TAIR10.fa.gz

-Annotation

>/c/ubuntu_download/Athaliana/Araport11/assembly# cd ..
>
>/c/ubuntu_download/Athaliana/Araport11# cd annotation
>
>/c/ubuntu_download/Athaliana/Araport11/annotation# gzip -d Athaliana_447_Araport11.gene.gff3
>
>/c/ubuntu_download/Athaliana/Araport11/annotation# gzip -d Athaliana_447_Araport11.gene_exons.gff3

그리고 Athaliana 폴더에서 jupyter notebook을 열어준다.

>/c/ubuntu_download/Athaliana/Araport11/annotation# cd ..
>
>/c/ubuntu_download/Athaliana/Araport11# sudo jupyter notebook --allow-root

# Genomics

### gff file과 assembly 이용하여 coding sequence(cds) 끌어내기

* coding sequence(cds)로 만들 자료를 dataframe형태로 만들기

In [1]:
import pandas as pd

In [2]:
df_ld = pd.read_csv('./annotation/Athaliana_447_Araport11.gene.gff3'
                    ,sep='\t',comment='#',header=None)

In [3]:
df_ld.head()

,0,1,2,3,4,5,6,7,8
0,Chr1,phytozomev12,gene,3631,5899,.,+,.,ID=AT1G01010.Araport11.447;Name=AT1G01010
1,Chr1,phytozomev12,mRNA,3631,5899,.,+,.,ID=AT1G01010.1.Araport11.447;Name=AT1G01010.1;...
2,Chr1,phytozomev12,five_prime_UTR,3631,3759,.,+,.,ID=AT1G01010.1.Araport11.447.five_prime_UTR.1;...
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...

* cds의 sequence 서열을 알아낼 때 사용할 reference를 불러오기

In [4]:
ref_file = open('./assembly/Athaliana_447_TAIR10.fa')

In [5]:
ref_read = ref_file.read()

In [6]:
ref_read[0:500] #reference에는 gene의 이름과 그의 sequence가 있음

'>Chr1 CHROMOSOME dumped from ADB: Jun/20/09 14:53; last updated: 2009-02-02\nCCCTAAACCCTAAACCCTAAACCCTAAACCTCTGAATCCTTAATCCCTAAATCCCTAAATCTTTAAATCCTACATCCAT\nGAATCCCTAAATACCTAATTCCCTAAACCCGAAACCGGTTTCTCTGGTTGAAAATCATTGTGTATATAATGATAATTTT\nATCGTTTTTATGTAATTGCTTATTGTTGTGTGTAGATTTTTTAAAAATATCATTTGAGGTCAATACAAATCCTATTTCT\nTGTGGTTTTCTTTCCTTCACTTAGCTATGGATGGTTTATCTTCATTTGTTATATTGGATACAAGCTTTGCTACGATCTA\nCATTTGGGAATGTGAGTCTCTTATTGTAACCTTAGGGTTGGTTTATCTCAAGAATCTTATTAATTGTTTGGACTGTTTA\nTGTTTGGACATTTATTGTCATTCT'

In [7]:
ref_list = ref_read.split('>')

In [8]:
ref_list[0]

''

In [9]:
ref_list[1][0:500]

'Chr1 CHROMOSOME dumped from ADB: Jun/20/09 14:53; last updated: 2009-02-02\nCCCTAAACCCTAAACCCTAAACCCTAAACCTCTGAATCCTTAATCCCTAAATCCCTAAATCTTTAAATCCTACATCCAT\nGAATCCCTAAATACCTAATTCCCTAAACCCGAAACCGGTTTCTCTGGTTGAAAATCATTGTGTATATAATGATAATTTT\nATCGTTTTTATGTAATTGCTTATTGTTGTGTGTAGATTTTTTAAAAATATCATTTGAGGTCAATACAAATCCTATTTCT\nTGTGGTTTTCTTTCCTTCACTTAGCTATGGATGGTTTATCTTCATTTGTTATATTGGATACAAGCTTTGCTACGATCTA\nCATTTGGGAATGTGAGTCTCTTATTGTAACCTTAGGGTTGGTTTATCTCAAGAATCTTATTAATTGTTTGGACTGTTTA\nTGTTTGGACATTTATTGTCATTCTT'

In [10]:
len(ref_list[1]) #Chr1 original sequence의 길이

30812907

* dictionary를 하나 만들어, gene의 이름과 그에 알맞은 original sequence 넣기

In [11]:
dicfa = {}
for geneinfo in ref_list[1:] :
    title        = geneinfo.split('\n')[0].split()[0]
    seq          = ''.join(geneinfo.split('\n')[1:])
    dicfa[title] = seq

In [12]:
dicfa.keys()

dict_keys(['Chr4', 'Chr2', 'Chr3', 'Chr5', 'Chr1', 'ChrM', 'ChrC'])

In [13]:
len(dicfa['Chr1'].split('TTAA'))

247226

* cds의 dataframe인 df_ld에 각 gene의 유전자서열 중 cds가 되는 부분의 번호들(column의 3과 4)을 참조해 reference dictionary인 dicfa에서 찾아내고 df_ld에 넣기

In [14]:
dicfa['Chr1'][3631-1:5899] #이 방법을 통해 유전자서열 알수있음

'AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGAGAAATACAGATTACAGAGAGCGAGAGAGATCGACGGCGAAGCTCTTTACCCGGAAACCATTGAAATCGGACGGTTTAGTGAAAATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGCTCGTTGGTCACTATCTCCGTAACAAAATCGAAGGAAACACTAGCCGCGACGTTGAAGTAGCCATCAGCGAGGTCAACATCTGTAGCTACGATCCTTGGAACTTGCGCTGTAAGTTCCGAATTTTCTGAATTTCATTTGCAAGTAATCGATTTAGGTTTTTGATTTTAGGGTTTTTTTTTGTTTTGAACAGTCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTCTCGTAGAGAAAACAACAAAGGGAATCGACAGAGCAGGACAACGGTTTCTGGTAAATGGAAGCTTACCGGAGAATCTGTTGAGGTCAAGGACCAGTGGGGATTTTGTAGTGAGGGCTTTCGTGGTAAGATTGGTCATAAAAGGGTTTTGGTGTTCCTCGATGGAAGATACCCTGACAAAACCAAATCTGATTGGGTTATCCACGAGTTCCACTACGACCTCTTACCAGAACATCAGGTTTTCTTCTATTCATATATATATATATATATATATGTGGATATATATATATGTGGTTTCTGCTGATTCATAGTTAGAATTTGAGTTATGCAAATTAGAAACTATGTAATGTAACTCTATTTAGGTTCAGCAGCTATTTTAGGCTTAGCTTACTCTCACCAATGTTTTATACTGATGAACTTATGTGCTTACCTCCGGAAATTTTACAGAGGACATATGTCATCTGCAGACTTGAGTACAAGGGTGATGATGCGGACATTCTATCTGCTTATGCAATAGATCCCACTCCCGCTTTTGTCCCCAATATGACTAGTAGTGCAGGTTCTGTGGTGAGTCTTTCTCCATATACACTTAGCTTTGAGTAGGCAGATCAAAAAAGAGCTTGTGTCTACTGATTTGATGTTTTCCTAAACTGTTGATTCGTTTCAGGTCAACCAATCACGTCAACGAAATTCAGGATCTTACAACACTTACTCTGAGTATGATTCAGCAAATCATGGCCAGCAGTTTAATGAAAACTCTAACATTATGCAGCAGCAACCACTTCAAGGATCATTCAACCCTCTCCTTGAGTATGATTTTGCAAATCACGGCGGTCAGTGGCTGAGTGACTATATCGACCTGCAACAGCAAGTTCCTTACTTGGCACCTTATGAAAATGAGTCGGAGATGATTTGGAAGCATGTGATTGAAGAAAATTTTGAGTTTTTGGTAGATGAAAGGACATCTATGCAACAGCATTACAGTGATCACCGGCCCAAAAAACCTGTGTCTGGGGTTTTGCCTGATGATAGCAGTGATACTGAAACTGGATCAATGGTAAGCTTTTTTTACTCATATATAATCACAACCTATATCGCTTCTATATCTCACACGCTGAATTTTGGCTTTTAACAGATTTTCGAAGACACTTCGAGCTCCACTGATAGTGTTGGTAGTTCAGATGAACCGGGCCATACTCGTATAGATGATATTCCATCATTGAACATTATTGAGCCTTTGCACAATTATAAGGCACAAGAGCAACCAAAGCAGCAGAGCAAAGAAAAGGTTTAACACTCTCACTGAGAAACATGACTTTGATACGAAATCTGAATCAACATTTCATCAAAAAGATTTAGTCAAATGACCTCTAAATTATGAGCTATGGGTCTGCTTTCAGGTGATAAGTTCGCAGAAAAGCGAATGCGAGTGGAAAATGGCTGAAGACTCGATCAAGATACCTCCATCCACCAACACGGTGAAGCAGAGCTGGATTGTTTTGGAGAATGCACAGTGGAACTATCTCAAGAACATGATCATTGGTGTCTTGTTGTTCATCTCCGTCATTAGTTGGATCATTCTTGTTGGTTAAGAGGTCAAATCGGATTCTTGCTCAAAATTTGTATTTCTTAGAATGTGTGTTTTTTTTTGTTTTTTTTTCTTTGCTCTGTTTTCTCGCTCCGGAAAAGTTTGAAGTTATATTTTATTAGTATGTAAAGAAGAGAAAAAGGGGGAAAGAAGAGAGAAGAAAAATGCAGAAAATCATATATATGAATTGGAAAAAAGTATATGTAATAATAATTAGTGCATCGTTTTGTGGTGTAGTTTATATAAATAAAGTGATATATAGTCTTGTATAAG'

In [15]:
df_ld['seq'] = df_ld.apply(lambda x : dicfa[x[0]][x[3]-1:x[4]],axis=1)

*df_ld['seq'] : df_ld에 seq라는 이름의 column을 df_ld의 제일 끝에 만들어 cds가 되는 부분의 번호들 범위에 해당하는 서열을 dicfa에서 따와 집어넣기위함*

*df_ld['seq'] = df_ld.apply(lambda x : x .... axis=1) : apply는 df값을 가지고 값을 만들겠다는 뜻, axis=1이므로 각 row로 사용되어 짐*

In [16]:
df_ld.head()

,0,1,2,3,4,5,6,7,8,seq
0,Chr1,phytozomev12,gene,3631,5899,.,+,.,ID=AT1G01010.Araport11.447;Name=AT1G01010,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
1,Chr1,phytozomev12,mRNA,3631,5899,.,+,.,ID=AT1G01010.1.Araport11.447;Name=AT1G01010.1;...,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
2,Chr1,phytozomev12,five_prime_UTR,3631,3759,.,+,.,ID=AT1G01010.1.Araport11.447.five_prime_UTR.1;...,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...

* df_ld 에서 필요한 부분만을 걸러내기

> CDS만 걸러내기

In [17]:
m_cds=df_ld[2]=='CDS'

In [18]:
df_ld[m_cds][0:10]

,0,1,2,3,4,5,6,7,8,seq
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...
5,Chr1,phytozomev12,CDS,4486,4605,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.3;Parent=AT1G...,AGGACATATGTCATCTGCAGACTTGAGTACAAGGGTGATGATGCGG...
6,Chr1,phytozomev12,CDS,4706,5095,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.4;Parent=AT1G...,GTCAACCAATCACGTCAACGAAATTCAGGATCTTACAACACTTACT...
7,Chr1,phytozomev12,CDS,5174,5326,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.5;Parent=AT1G...,ATTTTCGAAGACACTTCGAGCTCCACTGATAGTGTTGGTAGTTCAG...
8,Chr1,phytozomev12,CDS,5439,5630,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.6;Parent=AT1G...,GTGATAAGTTCGCAGAAAAGCGAATGCGAGTGGAAAATGGCTGAAG...
12,Chr1,phytozomev12,CDS,8571,8666,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.1;Parent=AT1G...,GCATTTCATGAGACGAATGTTACCCGGAGAGTATTGAATGAACAAT...
14,Chr1,phytozomev12,CDS,8417,8464,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.2;Parent=AT1G...,CATGCGTTCACACTCGATGTACTCATCTGCTACTTCCTTGCAATTTCC
15,Chr1,phytozomev12,CDS,8236,8325,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.3;Parent=AT1G...,CTGAATATTGACAGTTGCTGGATTAATTGCATTGTAGAGGACGTGT...
16,Chr1,phytozomev12,CDS,7942,7987,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.4;Parent=AT1G...,AACAGTCTAGAAGAAGATAGGCGAAGACCAACTTCCACAACAGATG

In [19]:
df_ld_cds = df_ld[m_cds]

> sense와 antisense 구분하여 sense부터 걸러내기

In [20]:
m_plus = df_ld_cds[6] == '+'

In [21]:
df_ld_cds[m_plus][0:10]

,0,1,2,3,4,5,6,7,8,seq
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...
5,Chr1,phytozomev12,CDS,4486,4605,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.3;Parent=AT1G...,AGGACATATGTCATCTGCAGACTTGAGTACAAGGGTGATGATGCGG...
6,Chr1,phytozomev12,CDS,4706,5095,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.4;Parent=AT1G...,GTCAACCAATCACGTCAACGAAATTCAGGATCTTACAACACTTACT...
7,Chr1,phytozomev12,CDS,5174,5326,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.5;Parent=AT1G...,ATTTTCGAAGACACTTCGAGCTCCACTGATAGTGTTGGTAGTTCAG...
8,Chr1,phytozomev12,CDS,5439,5630,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.6;Parent=AT1G...,GTGATAAGTTCGCAGAAAAGCGAATGCGAGTGGAAAATGGCTGAAG...
92,Chr1,phytozomev12,CDS,23519,24451,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.1;Parent=AT1G...,ATGGTAATGGAGGATGAGCCTAGAGAAGCCACAATAAAGCCTTCTT...
93,Chr1,phytozomev12,CDS,24542,24655,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.2;Parent=AT1G...,CAAGCAGAAGTGATCCGTAATCAAACTTGTTTTCAAGTTGGACATT...
94,Chr1,phytozomev12,CDS,24752,24962,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.3;Parent=AT1G...,GTTCTAGTTATGACAGCACAAATTCTGTTGAATATACTGAGACACA...
95,Chr1,phytozomev12,CDS,25041,25435,.,+,2,ID=AT1G01040.2.Araport11.447.CDS.4;Parent=AT1G...,GTGTTTCAAGCCAAGTAGATTGTGCGATAAAGATACGTAACCTCGA...

In [22]:
df_ld_cds_plus = df_ld_cds[m_plus]

* gene의 전체 protein 서열 얻으려면 cds만 얻어야하므로, 하나의 gene에 대한 cds를 얻어낼 수 있도록 df_ld_cds_plus의 column 8에 있는 ID를 참조해 같은 ID끼리 df_ld_cds_plus의 column seq에 있는 sequence 모아 붙이기

> ID 얻어내기

In [26]:
df_ld[8][0]

'ID=AT1G01010.Araport11.447;Name=AT1G01010'

*df의 column 8엔 gene에 대한 정보들이 있음*

In [36]:
df_ld_cds_plus[8][3].split('.')

['ID=AT1G01010',
 '1',
 'Araport11',
 '447',
 'CDS',
 '1;Parent=AT1G01010',
 '1',
 'Araport11',
 '447;pacid=37401853']

In [37]:
df_ld_cds_plus[8][3].split('.')[0].split('=')[1]

'AT1G01010'

> df_ld_cds_plus에 ID라는 이름의 column을 만들고 각각의 ID만을 얻어 넣기

In [38]:
df_ld_cds_plus['ID'] = [ID.split('.')[0].split('=')[1] for ID in df_ld_cds_plus[8]]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [39]:
df_ld_cds_plus[0:10]

,0,1,2,3,4,5,6,7,8,seq,ID
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...,AT1G01010
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...,AT1G01010
5,Chr1,phytozomev12,CDS,4486,4605,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.3;Parent=AT1G...,AGGACATATGTCATCTGCAGACTTGAGTACAAGGGTGATGATGCGG...,AT1G01010
6,Chr1,phytozomev12,CDS,4706,5095,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.4;Parent=AT1G...,GTCAACCAATCACGTCAACGAAATTCAGGATCTTACAACACTTACT...,AT1G01010
7,Chr1,phytozomev12,CDS,5174,5326,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.5;Parent=AT1G...,ATTTTCGAAGACACTTCGAGCTCCACTGATAGTGTTGGTAGTTCAG...,AT1G01010
8,Chr1,phytozomev12,CDS,5439,5630,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.6;Parent=AT1G...,GTGATAAGTTCGCAGAAAAGCGAATGCGAGTGGAAAATGGCTGAAG...,AT1G01010
92,Chr1,phytozomev12,CDS,23519,24451,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.1;Parent=AT1G...,ATGGTAATGGAGGATGAGCCTAGAGAAGCCACAATAAAGCCTTCTT...,AT1G01040
93,Chr1,phytozomev12,CDS,24542,24655,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.2;Parent=AT1G...,CAAGCAGAAGTGATCCGTAATCAAACTTGTTTTCAAGTTGGACATT...,AT1G01040
94,Chr1,phytozomev12,CDS,24752,24962,.,+,0,ID=AT1G01040.2.Araport11.447.CDS.3;Parent=AT1G...,GTTCTAGTTATGACAGCACAAATTCTGTTGAATATACTGAGACACA...,AT1G01040
95,Chr1,phytozomev12,CDS,25041,25435,.,+,2,ID=AT1G01040.2.Araport11.447.CDS.4;Parent=AT1G...,GTGTTTCAAGCCAAGTAGATTGTGCGATAAAGATACGTAACCTCGA...,AT1G01040

* cds를 넣을 dictionary를 만들어, 각각의 ID와 그에 해당하는 sequence들을 이어붙이기

In [41]:
dic_cds = {}
for x in df_ld_cds_plus.values :
    try : 
        dic_cds[x[10]] += x[9]
    except KeyError :
        dic_cds[x[10]] = x[9]

*df_ld_cds_plus의 value값들을 x로 부르면 각 row들이 한 줄 씩 array형태로 불러진다. 이에 x[10]은 ID, x[9]는 seq의 값들이 해당되어진다.*

*try를 하면 dic_cds에 key값으로 존재하는 알맞은 ID의 원래 있던 value값 뒤로 sequence를 계속 붙여넣는 작업이 수행되는데, 새로운 ID가 처음으로 dic_cds에 들어가면 key값으로 없었던 ID이기 때문에 keyerror가 난다. 이에 except로 keyerror가 날 때의 작업으로 dic_cds의 key값으로는 새로 들어온 ID가, value값으로는 그 ID에 해당하는 sequence가 들어가도록 수행시켜준다. *

* df_ld 에서 필요한 부분만을 걸러내기

> sense와 antisense 구분하여 antisense 걸러내기

In [47]:
df_ld.head()

,0,1,2,3,4,5,6,7,8,seq
0,Chr1,phytozomev12,gene,3631,5899,.,+,.,ID=AT1G01010.Araport11.447;Name=AT1G01010,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
1,Chr1,phytozomev12,mRNA,3631,5899,.,+,.,ID=AT1G01010.1.Araport11.447;Name=AT1G01010.1;...,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
2,Chr1,phytozomev12,five_prime_UTR,3631,3759,.,+,.,ID=AT1G01010.1.Araport11.447.five_prime_UTR.1;...,AAATTATTAGATATACCAAACCAGAGAAAACAAATACATAATCGGA...
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...

In [48]:
df_ld_cds.head()

,0,1,2,3,4,5,6,7,8,seq
3,Chr1,phytozomev12,CDS,3760,3913,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.1;Parent=AT1G...,ATGGAGGATCAAGTTGGGTTTGGGTTCCGTCCGAACGACGAGGAGC...
4,Chr1,phytozomev12,CDS,3996,4276,.,+,2,ID=AT1G01010.1.Araport11.447.CDS.2;Parent=AT1G...,TCCAGTCAAAGTACAAATCGAGAGATGCTATGTGGTACTTCTTCTC...
5,Chr1,phytozomev12,CDS,4486,4605,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.3;Parent=AT1G...,AGGACATATGTCATCTGCAGACTTGAGTACAAGGGTGATGATGCGG...
6,Chr1,phytozomev12,CDS,4706,5095,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.4;Parent=AT1G...,GTCAACCAATCACGTCAACGAAATTCAGGATCTTACAACACTTACT...
7,Chr1,phytozomev12,CDS,5174,5326,.,+,0,ID=AT1G01010.1.Araport11.447.CDS.5;Parent=AT1G...,ATTTTCGAAGACACTTCGAGCTCCACTGATAGTGTTGGTAGTTCAG...

In [49]:
mi = df_ld_cds[6] == '-'

In [50]:
df_ld_cds_minus = df_ld_cds[mi]

In [51]:
df_ld_cds_minus.head()

,0,1,2,3,4,5,6,7,8,seq
12,Chr1,phytozomev12,CDS,8571,8666,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.1;Parent=AT1G...,GCATTTCATGAGACGAATGTTACCCGGAGAGTATTGAATGAACAAT...
14,Chr1,phytozomev12,CDS,8417,8464,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.2;Parent=AT1G...,CATGCGTTCACACTCGATGTACTCATCTGCTACTTCCTTGCAATTTCC
15,Chr1,phytozomev12,CDS,8236,8325,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.3;Parent=AT1G...,CTGAATATTGACAGTTGCTGGATTAATTGCATTGTAGAGGACGTGT...
16,Chr1,phytozomev12,CDS,7942,7987,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.4;Parent=AT1G...,AACAGTCTAGAAGAAGATAGGCGAAGACCAACTTCCACAACAGATG
17,Chr1,phytozomev12,CDS,7762,7835,.,-,2,ID=AT1G01020.1.Araport11.447.CDS.5;Parent=AT1G...,CTTTATAGATAGAAGAACAGGGCTATCAGAAAAGCTCGATTCTTCA...

* 하나의 gene에 대한 cds를 얻어낼 수 있도록 df_ld_cds_minus의 column 8에 있는 ID를 참조해 같은 ID끼리 df_ld_cds_plus의 column seq에 있는 sequence 모아 붙이기

> df_ld_cds_minus에 ID라는 이름의 column을 만들고 각각의 ID만을 얻어 넣기

In [52]:
df_ld_cds_minus['ID'] = [x.split(';')[0].split('.')[0].split('=')[1] for x in df_ld_cds_minus[8]]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [53]:
df_ld_cds_minus.head()

,0,1,2,3,4,5,6,7,8,seq,ID
12,Chr1,phytozomev12,CDS,8571,8666,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.1;Parent=AT1G...,GCATTTCATGAGACGAATGTTACCCGGAGAGTATTGAATGAACAAT...,AT1G01020
14,Chr1,phytozomev12,CDS,8417,8464,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.2;Parent=AT1G...,CATGCGTTCACACTCGATGTACTCATCTGCTACTTCCTTGCAATTTCC,AT1G01020
15,Chr1,phytozomev12,CDS,8236,8325,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.3;Parent=AT1G...,CTGAATATTGACAGTTGCTGGATTAATTGCATTGTAGAGGACGTGT...,AT1G01020
16,Chr1,phytozomev12,CDS,7942,7987,.,-,0,ID=AT1G01020.1.Araport11.447.CDS.4;Parent=AT1G...,AACAGTCTAGAAGAAGATAGGCGAAGACCAACTTCCACAACAGATG,AT1G01020
17,Chr1,phytozomev12,CDS,7762,7835,.,-,2,ID=AT1G01020.1.Araport11.447.CDS.5;Parent=AT1G...,CTTTATAGATAGAAGAACAGGGCTATCAGAAAAGCTCGATTCTTCA...,AT1G01020

**antisense는 reverse complementary를 고려해주어야 한다.**

In [42]:
#dic하나 열어서 
dicC = {'A':'T','G':'C','T':'A','C':'G'}

In [43]:
dicC['A']

'T'

In [44]:
d = 'ATGC'

In [45]:
print(''.join([dicC[x] for x in d]))

TACG

**antisense이므로, 각 가닥의 서열들을 뒤집어주어야 하는데, 염기서열을 seq이란 변수에 넣으면 seq[::-1]하면 뒤집어짐**

In [46]:
print(''.join([dicC[x] for x in d][::-1]))

GCAT

* cds를 넣을 dictionary를 만들어, 각각의 ID와 그에 해당하는 sequence들을 antisense임을 고려하고 reverse complementary를 하여 이어붙이기

In [110]:
for x in df_ld_cds_minus.values :
    value = ''.join(dicC[xx] for xx in x[9][::-1])
    try :
        dic_cds[x[10]] += value
    except KeyError :
        dic_cds[x[10]] = value

In [111]:
dic_cds['AT1G01020']

'ATGGCGGCGAGTGAACACAGATGCGTGGGATGTGGTTTTAGGGTAAAGTCATTGTTCATTCAATACTCTCCGGGTAACATTCGTCTCATGAAATGCGGAAATTGCAAGGAAGTAGCAGATGAGTACATCGAGTGTGAACGCATGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGCATCTGTTGTGGAAGTTGGTCTTCGCCTATCTTCTTCTAGACTGTTATAGAAGCTTGCTACTGAGAAAAAGTGATGAAGAATCGAGCTTTTCTGATAGCCCTGTTCTTCTATCTATAAAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGGGAATTCCCAATGTCAGTGATTTTTTTTGTCGATATACTTCTCTTAACATCAAACTCCATGGCTCTTAAAGTGATGACTGAATCAACAATGACCAGATGCATAGCCGTATGCTTAATCGCGCACTTGATTAGATTCTTGGTGGGTCAGATTTTTGAGCCGACAATATTTTTGATACAAATTGGATCTCTGTTGCAATATATGTCTTATTTTTTCAGAATCGTATGAATGAGTACATCGAGTGTGAACGCATGGTCTGTTTTAATCACTTTCTTTCCCTTTTTGGGTGTTTCCCTATTTCTTTCCAATTTTGGTTTTTGGTTCTTTAATTGTTTTCTTTGGCAGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGCATCTGTTGTGGAAGTTGGTCTTCGCCTATCTTCTTCTAGACTGTTATAGAAGCTTGCTACTGAGAAAAAGTGATGAAGAATCGAGCTTTTCTGATAGCCCTGTTCTTCTATCTATAAAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGGGAATTCCCAATGTCAGTGATTTTTTTTGTCGATATACTTCTCTTAACATCAAACTCCATGGCTCTTAAAGTGATGACTGAATCAACAATGACCAGATGCATAGCCGTATGCTTAATCGCGCACTTGATTAGATTCTTGGTGGGTCAGATTTTTGAGCCGACAATATTTTTGATACAAATTGGATCTCTGTTGCAATATATGTCTTATTTTTTCAGAATCGTATGAATGAGTACATCGAGTGTGAACGCATGGTCTGTTTTAATCACTTTCTTTCCCTTTTTGGGTGTTTCCCTATTTCTTTCCAATTTTGGTTTTTGGTTCTTTAATTGTTTTCTTTGGCAGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGCATCTGTTGTGGAAGTTGGTCTTCGCCTATCTTCTTCTAGACTGTTATAGAAGCTTGCTACTGAGAAAAAGTGATGAAGAATCGAGCTTTTCTGATAGCCCTGTTCTTCTATCTATAAAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGGGAATTCCCAATGTCAGTGATTTTTTTTGTCGATATACTTCTCTTAACATCAAACTCCATGGCTCTTAAAGTGATGACTGAATCAACAATGACCAGATGCATAGCCGTATGCTTAATCGCGCACTTGATTAGATTCTTGGTGGGTCAGATTTTTGAGCCGACAATATTTTTGATACAAATTGGATCTCTGTTGCAATATATGTCTTATTTTTTCAGAATCGTATGAATGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGCATCTGTTGTGGAAGTTGGTCTTCGCCTATCTTCTTCTAGACTGTTATAGAAGCTTGCTACTGAGAAAAAGTGATGAAGAATCGAGCTTTTCTGATAGCCCTGTTCTTCTATCTATAAAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGGGAATTCCCAATGTCAGTGATTTTTTTTGTCGATATACTTCTCTTAACATCAAACTCCATGGCTCTTAAAGTGATGACTGAATCAACAATGACCAGATGCATAGCCGTATGCTTAATCGCGCACTTGATTAGATTCTTGGTGGGTCAGATTTTTGAGCCGACAATATTTTTGATACAAATTGGATCTCTGTTGCAATATATGTCTTATTTTTTCAGAATCGTATGAATGGCGGCGAGTGAACACAGATGCGTGGGATGTGGTTTTAGGGTAAAGTCATTGTTCATTCAATACTCTCCGGGTAACATTCGTCTCATGAAATGCGGAAATTGCAAGGAAGTAGCAGATGAGTACATCGAGTGTGAACGCATGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGCATCTGTTGTGGAAGTTGGTCTTCGCCTATCTTCTTCTAGACTGTTATAGAAGCTTGCTACTGAGAAAAAGTGATGAAGAATCGAGCTTTTCTGATAGCCCTGTTCTTCTATCTATAAAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGTTGTAGCTTTACCTCTCACTTAATTCCTAATATTGAAGTTCCAAACTTCTTAAGCATTCCATAAATGATTATTTTCATCGATTTAATCCTTCACAGACCAAAGGTATATAGACACGTCCTCTACAATGCAATTAATCCAGCAACTGTCAATATTCAGGTTCTGATTGGTGTCTTATCTGCAAACGCTGCATTTATCATCTCTTTTGCCATTGCGACTAAGGGTTTGCTAAATGAAGTTTCCAGAAGAAGAGAGATTATGTTGGGGATATTCATCTCTAGTTACTTCAAGATATTTCTGCTTGCGATGTTGGTATGTTGTAGCTTTACCTCTCACTTAATTCCTAATATTGAAGTTCCAAACTTCTTAAGCATTCCATAA'

* df의 sense와 antisense를 고려해 cds만을 골라 알맞은 서열로 만들었다면, protein으로 바꿔보기

In [112]:
gencode = {
    'ATA':'I', 'ATC':'I', 'ATT':'I', 'ATG':'M',
    'ACA':'T', 'ACC':'T', 'ACG':'T', 'ACT':'T',
    'AAC':'N', 'AAT':'N', 'AAA':'K', 'AAG':'K',
    'AGC':'S', 'AGT':'S', 'AGA':'R', 'AGG':'R',
    'CTA':'L', 'CTC':'L', 'CTG':'L', 'CTT':'L',
    'CCA':'P', 'CCC':'P', 'CCG':'P', 'CCT':'P',
    'CAC':'H', 'CAT':'H', 'CAA':'Q', 'CAG':'Q',
    'CGA':'R', 'CGC':'R', 'CGG':'R', 'CGT':'R',
    'GTA':'V', 'GTC':'V', 'GTG':'V', 'GTT':'V',
    'GCA':'A', 'GCC':'A', 'GCG':'A', 'GCT':'A',
    'GAC':'D', 'GAT':'D', 'GAA':'E', 'GAG':'E',
    'GGA':'G', 'GGC':'G', 'GGG':'G', 'GGT':'G',
    'TCA':'S', 'TCC':'S', 'TCG':'S', 'TCT':'S',
    'TTC':'F', 'TTT':'F', 'TTA':'L', 'TTG':'L',
    'TAC':'Y', 'TAT':'Y', 'TAA':'*', 'TAG':'*',
    'TGC':'C', 'TGT':'C', 'TGA':'*', 'TGG':'W',
    'CMC':'P', 'CMC':'H', 'GYG':''}

In [118]:
dic_protein = {}
for key in dic_cds :
    cds = dic_cds[key]
    protein = ''
    for x in range(int(len(cds)/3)):
        protein += gencode[cds[3*x:3*x+3].upper()]
    dic_protein[key] = protein

KeyError: 'GCM'

*KeyError가 나게 된 이유는 sequence내에 genecode에 등록되지 않은 서열이 있기 때문이다. 하지만 이 서열의 genecode는 알 수 없으므로, N처리를 해서 표시하도록 해준다.*

In [116]:
dic_protein = {}
for key in dic_cds :
    cds = dic_cds[key]
    protein = ''
    for x in range(int(len(cds)/3)):
        try :
            protein += gencode[cds[3*x:3*x+3].upper()]
        except KeyError:
            protein += 'N'
    dic_protein[key] = protein

In [117]:
dic_protein['AT1G01020']

'MAASEHRCVGCGFRVKSLFIQYSPGNIRLMKCGNCKEVADEYIECERMIIFIDLILHRPKVYRHVLYNAINPATVNIQHLLWKLVFAYLLLDCYRSLLLRKSDEESSFSDSPVLLSIKVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVWEFPMSVIFFVDILLLTSNSMALKVMTESTMTRCIAVCLIAHLIRFLVGQIFEPTIFLIQIGSLLQYMSYFFRIV*MSTSSVNAWSVLITFFPFLGVSLFLSNFGFWFFNCFLWQIIFIDLILHRPKVYRHVLYNAINPATVNIQHLLWKLVFAYLLLDCYRSLLLRKSDEESSFSDSPVLLSIKVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVWEFPMSVIFFVDILLLTSNSMALKVMTESTMTRCIAVCLIAHLIRFLVGQIFEPTIFLIQIGSLLQYMSYFFRIV*MSTSSVNAWSVLITFFPFLGVSLFLSNFGFWFFNCFLWQIIFIDLILHRPKVYRHVLYNAINPATVNIQHLLWKLVFAYLLLDCYRSLLLRKSDEESSFSDSPVLLSIKVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVWEFPMSVIFFVDILLLTSNSMALKVMTESTMTRCIAVCLIAHLIRFLVGQIFEPTIFLIQIGSLLQYMSYFFRIV*MIIFIDLILHRPKVYRHVLYNAINPATVNIQHLLWKLVFAYLLLDCYRSLLLRKSDEESSFSDSPVLLSIKVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVWEFPMSVIFFVDILLLTSNSMALKVMTESTMTRCIAVCLIAHLIRFLVGQIFEPTIFLIQIGSLLQYMSYFFRIV*MAASEHRCVGCGFRVKSLFIQYSPGNIRLMKCGNCKEVADEYIECERMIIFIDLILHRPKVYRHVLYNAINPATVNIQHLLWKLVFAYLLLDCYRSLLLRKSDEESSFSDSPVLLSIKVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVCCSFTSHLIPNIEVPNFLSIP*MIIFIDLILHRPKVYRHVLYNAINPATVNIQVLIGVLSANAAFIISFAIATKGLLNEVSRRREIMLGIFISSYFKIFLLAMLVCCSFTSHLIPNIEVPNFLSIP*'

----------------------------------------------------------------